@import "../../../styles/styles.scss";

section {
  margin: 3rem 0;
}

.fluid {
  background-color: $color-dark;
}

.text-container {
  padding: 2rem;
  color: $color-light;

  h2 {
    border-bottom: 1px solid $color-green;
  }
}

.picture-container {
  border-right: 2px solid $color-light;
}

.col-lg-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
