<app-banner>
  <img src="/assets/images/dining.jpg" alt="" class="img-fluid" />
  <h1>Fine Dining</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, esse
    doloribus! Iure, sapiente! Et, aliquam. Hic incidunt repellat tempora
    asperiores adipisci, quod magni nostrum unde sed maxime nisi tenetur
    voluptatum dicta eum eius! Natus nisi perferendis itaque! Porro non
    quibusdam omnis voluptates, nulla aperiam facere.
  </p>
</app-banner>
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <app-restaurants></app-restaurants>
      </div>
    </div>
  </div>
</section>
