section {
  margin: 3rem 0;
}

.fluid {
  background-color: $color-dark;
}

.text-container {
  padding: 2rem;
  color: $color-light;

  h2 {
    border-bottom: 1px solid $color-green;
  }
}

.picture-container {
  border-left: 2px solid $color-light;
}

.col-lg-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-height: 50rem;
  overflow: hidden;
  width: 100%;
}

@media only screen and (max-width: 990px) {
  .picture-container {
    border-left: none;
  }

  .row {
    display: flex;
    flex-flow: column-reverse;
  }

  .button-box {
    text-align: center;
  }

  .btn {
    width: 50%;
  }
}
