<section>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h3>{{ restaurant.title }} Reservation Form</h3>
        <div class="reservation-form">
          <form
            autocomplete="off"
            [formGroup]="reservationForm"
            (ngSubmit)="makeReservation()"
          >
            <div class="mb-3">
              <label for="bookingName" class="form-label">Booking Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="bookingName"
                #name
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingName').valid &&
                  reservationForm.get('bookingName').touched
                "
              >
                Please enter a valid name.
              </span>
            </div>
            <div class="mb-3">
              <label for="bookingTime" class="form-label">Booking Time</label>
              <input
                type="time"
                class="form-control"
                id="bookingTime"
                formControlName="bookingTime"
                #time
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingTime').valid &&
                  reservationForm.get('bookingTime').touched
                "
              >
                Please enter a valid Time.
              </span>
            </div>
            <div class="mb-3">
              <label for="bookingDate" class="form-label">Booking Date</label>
              <input
                type="date"
                class="form-control"
                id="bookingDate"
                formControlName="bookingDate"
                #date
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingDate').valid &&
                  reservationForm.get('bookingDate').touched
                "
              >
                Please enter a valid Date.
              </span>
            </div>
            <div class="mb-3">
              <label for="number" class="form-label">Quantity (max-4)</label>
              <input
                type="number"
                class="form-control"
                id="name"
                formControlName="bookingNumber"
                max="4"
                min="1"
                #qty
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingNumber').valid &&
                  reservationForm.get('bookingNumber').touched
                "
              >
                Please enter a valid number.
              </span>
            </div>
            <div class="mb-3">
              <label for="bookingContact" class="form-label"
                >Contact Number</label
              >
              <input
                type="text"
                class="form-control"
                id="bookingContact"
                formControlName="bookingContact"
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingContact').valid &&
                  reservationForm.get('bookingContact').touched
                "
              >
                Please enter a valid Phone Number.
              </span>
            </div>
            <button class="btn" type="submit">Make Reservation</button>
          </form>
        </div>
        <p *ngIf="reservation">
          Reservation placed by {{ name.value }} for a table of
          {{ qty.value }} at {{ time.value }} on
          {{ date.value | date: "fullDate" }}
        </p>
      </div>
    </div>
  </div>
</section>
