.reservation-form {
  justify-content: center;
  display: flex;
  align-items: center;
}

form {
  width: 80%;
}

input {
  font-size: 1.5rem;
}

label {
  font-size: 1.3rem;
}

span {
  float: right;
  font-size: 1.2rem;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid red;
}
