<section>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <div class="reservation-form">
          <form
            autocomplete="off"
            [formGroup]="reservationForm"
            (ngSubmit)="makeReservation()"
          >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="bookingName"
                placeholder="name"
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingName').valid &&
                  reservationForm.get('bookingName').touched
                "
              >
                Please enter a valid name.
              </span>
              <label for="bookingName" class="form-label">Name</label>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="bookingTime"
                formControlName="bookingTime"
                placeholder="Time"
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingTime').valid &&
                  reservationForm.get('bookingTime').touched
                "
              >
                Please enter a valid Time.
              </span>
              <label for="bookingTime" class="form-label">Time</label>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="bookingDate"
                formControlName="bookingDate"
                placeholder="Date"
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingDate').valid &&
                  reservationForm.get('bookingDate').touched
                "
              >
                Please enter a valid Date.
              </span>
              <label for="bookingDate" class="form-label">Date</label>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="bookingNumber"
                placeholder="number"
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingNumber').valid &&
                  reservationForm.get('bookingNumber').touched
                "
              >
                Please enter a valid number.
              </span>
              <label for="number" class="form-label">Number</label>
            </div>
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="bookingContact"
                formControlName="bookingContact"
                placeholder="Phone"
              />
              <span
                class="form-text small"
                *ngIf="
                  !reservationForm.get('bookingContact').valid &&
                  reservationForm.get('bookingContact').touched
                "
              >
                Please enter a valid Phone Number.
              </span>
              <label for="bookingContact" class="form-label">Phone</label>
            </div>
            <button type="submit">Make Reservation</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
