<section>
  <div class="container">
    <app-banner>
      <img src="{{ retrievedActivity.image }}" alt="" class="img-fluid" />
      <h1>{{ retrievedActivity.name }}</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quia
        blanditiis officiis ipsa asperiores culpa veniam accusamus error modi
        sunt beatae provident tempore exercitationem nobis eligendi, velit
        repellendus. Vero, libero?
      </p>
    </app-banner>
    <div class="row">
      <h2>{{ retrievedActivity.description }}</h2>
      <p>{{ retrievedActivity.details }}</p>

      <p>
        {{ retrievedActivity.extraDetail }}
      </p>
      <p>
        {{ retrievedActivity.details }}
      </p>
    </div>
  </div>
</section>
