@import "../../../styles/helpers/variables";

.attraction {
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-weight: 300;
  font-size: 3rem;

  &:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-weight: 400;
  }
}

.border-overlay {
  //border: 3px solid $color-dark;
  padding: 20px;
  height: 40rem;
}

a {
  color: $color-light;
  text-decoration: none;
  cursor: pointer;
}

.center-box {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  color: $color-light;
}

.col-lg-4 {
  height: 40rem;
}

.activities {
  background-image: url("../../../assets/images/explore.jpg");
}

.heritage {
  background-image: url("../../../assets/images/room.jpg");
}

.drive {
  background-image: url("../../../assets/images/dining.jpg");
}
.golf {
  background-image: url("../../../assets/images/spa.jpg");
}
.volcano {
  background-image: url("../../../assets/images/business.jpg");
}
.social {
  background-image: url("../../../assets/images/church.jpg");
}
