<div class="section">
  <div>
    <div class="row g-0">
      <div
        class="col-lg-4 col-md-6"
        *ngFor="let attraction of attractionArray; let id = index"
      >
        <a (click)="navigate(id, attraction.link)">
          <div class="border-overlay">
            <div class="attraction {{ attraction.link }}">
              <div class="center-box">
                {{ attraction.link | titlecase }}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
