@import "../../../styles/helpers/variables";

.attraction {
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-weight: 300;
  font-size: 3rem;

  &:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-weight: 400;
  }
}

a {
  color: $color-light;
  text-decoration: none;
}

.center-box {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.col-lg-4 {
  height: 40rem;
}

.explore {
  background-image: url("../../../assets/images/explore.jpg");
}

.rooms {
  background-image: url("../../../assets/images/room.jpg");
}

.dining {
  background-image: url("../../../assets/images/dining.jpg");
}
.spa {
  background-image: url("../../../assets/images/spa.jpg");
}
.business {
  background-image: url("../../../assets/images/business.jpg");
}
.weddings {
  background-image: url("../../../assets/images/church.jpg");
}
