@import "../../../styles/styles.scss";
@import "../../../styles/modules/right-text";

.right-picture {
  border-left: 2px solid $color-light;
}

.left-picture {
  border-right: 2px solid $color-light;
}

@media only screen and (max-width: 990px) {
  .left-picture,
  .right-picture {
    border: none;
  }
}
