<app-banner>
  <img src="/assets/images/castle.jpg" alt="" class="img-fluid" />
  <h1>Dark Sands Hotel</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sed in
    provident odit saepe praesentium quasi aperiam ab molestias officiis, eius
    sint. Ut atque, consequuntur nostrum nihil aliquid beatae. In eos adipisci
    cupiditate quasi enim nisi ea reprehenderit aspernatur laboriosam debitis,
    nam, et ducimus eum ipsa incidunt aliquid voluptates molestiae.
  </p>
</app-banner>
<app-home-display></app-home-display>
