<section>
  <div class="row g-0">
    <div class="col-lg-2 col-md-4">
      <div class="nav explore">
        <div class="center-box">
          <a routerLink="attractions">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="nav rooms">
        <div class="center-box">
          <a routerLink="rooms">Rooms</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="nav dining">
        <div class="center-box">
          <a routerLink="dining">Dining</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="nav spa">
        <div class="center-box">
          <a routerLink="spa">Spa</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="nav business">
        <div class="center-box">
          <a routerLink="business">Corporate</a>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4">
      <div class="nav contact">
        <div class="center-box">
          <a routerLink="contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
</section>
