<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Pick Up Order</h3>
        <div class="order-form">
          <form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
            <div class="mb-3">
              <label for="orderName" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="orderName"
                formControlName="orderName"
                #name
              />
            </div>
            <div class="mb-3">
              <label for="orderNumber" class="form-label">Phone Number</label>
              <input
                type="text"
                class="form-control"
                id="orderNumber"
                formControlName="orderNumber"
              />
            </div>
            <div class="mb-3">
              <label for="starter">Starter</label>
              <select
                class="form-select"
                id="starter"
                formControlName="starterOrder"
                #starter
              >
                <option>None</option>
                <option
                  *ngFor="let starter of restaurant.starter"
                  [value]="starter.name"
                >
                  {{ starter.name }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="main">Main</label>
              <select
                class="form-select"
                id="main"
                formControlName="mainOrder"
                name="mainOrder"
                #main
              >
                <option>None</option>
                <option
                  *ngFor="let main of restaurant.main"
                  [value]="main.name"
                >
                  {{ main.name }}
                </option>
              </select>
            </div>
            <div class="mb-3">
              <label for="dessert">Dessert</label>
              <select
                class="form-select"
                id="dessert"
                name="dessertOrder"
                formControlName="dessertOrder"
                #dessert
              >
                <option>None</option>
                <option
                  *ngFor="let dessert of restaurant.dessert"
                  [value]="dessert.name"
                >
                  {{ dessert.name }}
                </option>
              </select>
            </div>
            <button type="submit">Place Order</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <h3>Order Confirmation</h3>
        <div *ngIf="confirmCheck">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Starter</th>
                <th scope="col">Main</th>
                <th scope="col">Dessert</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ name.value }}</th>
                <td>{{ starter.value }}</td>
                <td>{{ main.value }}</td>
                <td>{{ dessert.value }}</td>
              </tr>
            </tbody>
          </table>
          <p>Total for this order is:</p>
          <p>Order Number: {{ orderNumber }}</p>
          <p>Available for pickup at: {{ pickupTime | date: "shortTime" }}</p>
          <button class="btn btn-hotel" (click)="confirm()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</section>
