@import "../../../styles/styles.scss";
footer {
  background-color: $color-dark;
}

h3 {
  font-weight: 200;
  padding-bottom: 1.5rem;
}

a {
  color: $color-light;

  :hover {
    color: $color-green;
  }
}

p {
  color: $color-light;
  font-size: 1.8rem;
}

img {
  border: 2px solid $color-green;
}
