<section>
  <div
    class="container py-4"
    *ngFor="let restaurant of restaurants; let id = index"
  >
    <div class="row g-0" [class]="{ 'flex-row-reverse': id % 2 === 0 }">
      <div class="col-lg-4" [class]="restaurant.style">
        <div class="text-container">
          <a (click)="toRestaurant(id, restaurant.title)">
            <h2>{{ restaurant.title }}</h2>
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="image-container">
          <img src="{{ restaurant.image }}" alt="{{ restaurant.title }}" />
        </div>
      </div>
    </div>
  </div>
</section>
