<app-banner>
  <img src="../../../assets/images/ring.jpg" alt="" class="img-fluid" />
  <h1>Your Special Day</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ut
    eligendi repellat accusamus ad velit maiores? Facilis ducimus aliquid qui
    debitis facere ut voluptatum aliquam quam animi, repudiandae quas repellat
    iure vel eum! Magni facere minus fuga cum possimus tempora nobis aspernatur
    adipisci, et dolorum.
  </p>
</app-banner>
<p>main-wedding works!</p>
