@import "../../../styles/styles.scss";

section {
  //height: 800px;
  background-color: $color-dark;
  clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 16%);
  z-index: 1;
  padding: 10rem 0;
}

form {
  padding: 2rem;

  label {
    color: $color-light;
    padding-left: 0.9rem;
    font-size: 1.3rem;
    transition: all 0.3s;
  }

  input,
  select,
  textarea {
    border: transparent;
    //border-bottom: 2px solid $color-green;
    font-size: 1.5rem;
  }
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-bottom: 2px solid #ff0000;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border-bottom: 2px solid $color-green;
}

input:placeholder-shown ~ label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

select:placeholder-shown ~ label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.contact-info-box {
  color: $color-light;
  padding: 1rem 2rem;
}

span {
  font-size: 1.4rem;
  float: right;
}

@media only screen and (max-width: 990px) {
  section {
    clip-path: none;
    padding: 5rem 0;
  }

  .button-box {
    text-align: center;
  }

  .btn {
    width: 50%;
  }
}
