<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div>
          <form
            (submit)="onSubmit()"
            [formGroup]="contactForm"
            autocomplete="off"
          >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Name"
              />
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('name').valid &&
                  contactForm.get('name').touched
                "
              >
                Please enter a valid name.
              </span>
              <label for="name" class="form-label">Name</label>
            </div>

            <div class="mb-3">
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                placeholder="E-mail"
              />
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('email').valid &&
                  contactForm.get('email').touched
                "
              >
                Please enter a valid email.
              </span>
              <label for="email" class="form-label">Email</label>
            </div>

            <div class="mb-3">
              <input
                type="text"
                id="phone"
                formControlName="phone"
                class="form-control"
                placeholder="Contact-Number"
              />
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('phone').valid &&
                  contactForm.get('phone').touched
                "
              >
                Please enter a valid 9 digit phone number
              </span>
              <label for="phone" class="form-label">Contact-Number</label>
            </div>

            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="subject"
                formControlName="subject"
                placeholder="Subject"
              />
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('subject').valid &&
                  contactForm.get('subject').touched
                "
              >
                Please enter a valid Subject.
              </span>
              <label for="subject" class="form-label">Subject</label>
            </div>

            <div class="mb-3">
              <textarea
                type="text"
                class="form-control"
                id="message"
                formControlName="message"
                placeholder="Message"
                rows="6"
              ></textarea>
              <span
                class="form-text small"
                *ngIf="
                  !contactForm.get('message').valid &&
                  contactForm.get('message').touched
                "
              >
                Please enter a valid message.
              </span>
              <!-- <label for="message" class="form-label">message</label> -->
            </div>
            <div class="button-box">
              <button class="btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-info-box">
          <h3>Contact Us</h3>
          <p><i class="fa fa-phone"></i> Telephone: 123-4567-321</p>
          <p><i class="fa fa-envelope"></i> Email: info@hotel.com</p>
          <p><i class="fa fa-map-marker"></i> Address: 123 Fake St, Iceland</p>
          <p><i class="fa fa-globe"></i> Area Code: V35 HR34</p>
          <br />
          <hr />
          <br />
          <h4>Location:</h4>
          <p>GPS Coordinates:</p>
          <p>Latitude: 35.374859</p>
          <p>Longitude: -8.75839249</p>
        </div>
      </div>
    </div>
  </div>
</section>
