@import "../../../styles/helpers/variables";

.image-style {
  max-height: 90vh;
  overflow: hidden;
  width: 100%;
  background-position: bottom;
}

h1 {
  color: $color-dark;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

p {
  color: $color-purple;
}
