<section>
  <div class="fluid">
    <div class="row g-0">
      <div class="col-lg-7">
        <div class="picture-container">
          <img
            src="/assets/images/business.jpg"
            alt="person exploring"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-5">
        <div class="text-container">
          <h2>Corporate Meetings</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus
            doloremque eius ducimus obcaecati explicabo optio adipisci
            voluptate, repellendus quibusdam illo veniam ab a ad officiis cum
            debitis cupiditate numquam tempore.
          </p>
          <div class="button-box">
            <button class="btn btn-success" (click)="navigateToBusiness()">
              Business
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
