@import "../../../styles/styles.scss";

.navbar {
  background-color: $color-dark;
  font-size: 1.6rem;
  border-bottom: 2px solid $color-light;

  & li a {
    color: $color-light;
    margin: 0 1.4rem;
  }

  & li a:hover {
    color: $color-green;
  }

  & li a.active {
    color: $color-green;
    text-decoration: underline;
  }
}

span {
  color: $color-green;
}
