@import "../../../styles/styles.scss";

.navbar {
  background-color: $color-dark;
  font-size: 1.6rem;
  border-bottom: 2px solid $color-light;

  & li a {
    color: $color-light;
    margin: 0 1.4rem;
  }

  & li a:hover {
    color: $color-green;
  }

  & li a.active {
    color: $color-green;
  }
}

span {
  color: $color-green;
}

nav a::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: $color-green;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::after {
  width: 100%;
}

nav a:active::after {
  width: 100%;
}
